/* MAIN COLORS */
$white: #ffffff;
$black: #000000;

/* THEME COLORS */
$green-theme-colors-dark: #06C16740;
$green-theme-colors-light: #06C167;
$green-theme-colors-active: #06C16740;

/* BUTTON COLORS */
$button-black: #000000;
$button-white: #ffffff;
$button-red: #D55F5A;
$button-red-background: #d55e5a50;
$button-black-background: #F6F6F6;

/* TEXT COLORS */
$paragraph-color: #7D94A0;
$text-color-1: #5A6A85;
$text-color-2: #757575;

/* BORDER COLORS */
$border-color: #D8DADC;
$hr-color: #EAEFF4;
$tooltip-background: #202020;
$shadow-color: #00000020;